@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/font/inconsolata-regular.eot');
  src: url('/assets/font/inconsolata-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/font/inconsolata-regular.woff') format('woff'),
  url('/assets/font/inconsolata-regular.ttf') format('truetype'),
  url('/assets/font/inconsolata-regular.svg#InconsolataMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/font/inconsolata-bold.eot');
  src: url('/assets/font/inconsolata-bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/font/inconsolata-bold.woff') format('woff'),
  url('/assets/font/inconsolata-bold.ttf') format('truetype'),
  url('/assets/font/inconsolata-bold.svg#InconsolataMedium') format('svg');
  font-weight: bold;
  font-style: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  padding: 10px;
  font: 16px/1.5 "Inconsolata", "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
  color: #585858;
  background-color: #fbfbfb;
  margin: 0 auto;
  max-width: 820px;
}

body > * {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

p {
  text-align: justify;
}

blockquote {
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #EEECE7;
}

.content blockquote p {
  padding: 0 0;
}

h1, h2 {
  line-height: 1.1;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

img {
  max-width:100%;
}

header {
  padding: 0.5rem 0 0.5rem 0
}

a {
  color: #008B8B;
  text-decoration: none;
  font-weight: 800;
}

.links {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
}

.links li {
  padding: 0.8em 0;
  text-align: center;
}

.links a {
  display: inline-block;
  min-width: 60%;
  padding: 0.9em 0;
  background-color: #EEECE7;
  border: 3px #000 solid;
}

.links a:hover {
  background-color: #FBFBFB;
}

.menu {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-between;
  width: 100%;
}

.menu a, .menu a:first-child {
  border-right: 1px solid #000;
  padding: 0 8px 0 0;
}

.menu a {
  padding: 0 8px;
}

.menu a:last-child {
  border-right: none;
  padding: 0 0 0 8px;
}

.social {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: 12pt;
  width: 1em;
}

.posts {
  ul {
    list-style-type: none;
  }
  ul li {
    display: flex;
    flex-flow: column wrap;
    padding: 2px 0;
  }
}

.post {
  padding-bottom: 15px;
}

.post-header {
  padding-bottom: 10px;
}

.post-header-info {
  display: flex;
  justify-content: space-between;
}

.tags {
  padding-top: 4px;
}

.tag {
  margin-right: 8px;
  padding: 2px 5px;
  border-radius: 3px;
}

.tag:last-child {
  margin-right: 0;
}

.tag-functional-programming, .tag-microservices, .tag-automated-testing, .tag-bug-reporting, .tag-workstation-setup {
  color: #fff;
  background-color: #000;
}

.tag-nix {
  color: #fff;
  background-color: #7e7eff;
}

.tag-kotlin {
  color: #fff;
  background-color: #F6891F;
}

.tag-kubernetes, .tag-personal {
  color: #fff;
  background-color: #326ce5;
}

.tag-rust {
  color: #fff;
  background-color: #dea584;
}

.tag-bash, .tag-automation {
  color: #fff;
  background-color: #89e051;
}

.tag-python {
  color: #fff;
  background-color: #3572A5;
}

.tag-swift {
  color: #fff;
  background-color: #F05138;
}

.content {
  padding-bottom: 10px;
}

.content p, .content h1, .content h2 {
  padding: 5px 0 10px 0;
}

.content ul, .content ol {
  margin-left: 34px;
  padding-bottom: 10px;
}

.content ul:last-child, .content ol:last-child {
  padding-bottom: 0;
}

.external-video {
  min-width: 100%;
  height: 370px;
  padding-top: 10px;
}

.info {
  text-align: center;
  font-style: italic;
  padding-bottom: 8px;
}

.notes li {
  margin-left: 16px;
  padding: 10px 0;
}

.content header h1 {
  text-decoration: underline;
}

.content header h1, .content header p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .links a {
    min-width: 100%;
  }
}

code, pre {
  font-family: "Inconsolata", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
}

pre {
  padding: 10px;
  line-height: 1.42857;
  overflow: auto;
  margin: 10px 0;
}

code { background-color: #EEECE7; }
pre code { background-color: transparent;}