{% extends "base.html" %}

{% block title %}404{% endblock title %}

{% block content %}
<img style="padding-bottom: 5px;" src="{{ get_url(path="/assets/images/backgrounds/404.jpg") }}">
<span style="font-size: 1.2em;">The requested page could not be found.</span>
<br />
<span>Here's a picture of baby Laika instead...</span>
{% endblock content %}