{% extends "page.html" %}

{% block content %}
<ul class="notes">
    {% set data = load_data(path="data/notes.toml") %}
    {% for note in data.notes %}
    <li>
        <p>{{ note.content }} {% if note.source_link %}| <a href="{{ note.source_link }}">source</a>{% endif %} | <span style="font-weight: 800;">{{ note.tags | join(sep=", ") }}</span></p>
        {% if note.code_content %}
        {{ note.code_content | markdown(inline=false) | safe }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}